body {
  font-family: Arial, Helvetica, sans-serif;

  background-color: #c4d9f0;
}
button:hover {
  opacity: 0.6;
}

#container {
  display: flex;
  justify-content: space-around;
  background-color: #57c4e5;
}
.statistic {
  display: flex;
}

#aprove-btn,
#deny-btn {
  visibility: hidden;
}

#div1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #721b65, #d1d646);
  background-size: cover;
  cursor: pointer;
}
#div2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #721b65, #d1d646);
  background-size: cover;
  cursor: pointer;
}
#div3 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #721b65, #d1d646);
  background-size: cover;
  cursor: pointer;
}
#statistic {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
#choice-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#reset-btn {
  background-color: #1c973b;
  border: black 1px solid;
  box-shadow: 3px 3px 4px #888888;
  width: 96px;
  height: 50px;
  cursor: pointer;
  visibility: hidden;
  margin-top: 2px;
}
#reset1-btn {
  background-color: #1c973b;
  border: black 1px solid;
  box-shadow: 3px 3px 4px #888888;
  width: 96px;
  height: 50px;
  cursor: pointer;
}
#reset-btn-div {
  text-align: center;
}
#reset-stats-btn-div {
  text-align: center;
}
#aprove-btn {
  background-color: rgb(161, 56, 56);
  width: 60px;
  color: white;
  margin-right: 5px;
  cursor: pointer;
}
#deny-btn {
  background-color: rgb(161, 56, 56);
  width: 60px;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}
@media (max-width: 600px) {
  #div1 {
    width: 27vw;
    height: 27vw;
  }
  #div2 {
    width: 27vw;
    height: 27vw;
  }
  #div3 {
    width: 27vw;
    height: 27vw;
  }
  #statistic {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
  }
}
